@keyframes logoAanimation {
    0% {
        opacity: 0;
        scale: 1.3;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes borderAnimation {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: #152b43;
    }
}

.intro {
    width: 515px;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    &__container {
        position: fixed;
        z-index: 100000000;
        left: 0;
        top: 0;
        background-color: white;
        height: 100vh;
        width: 100vw;
    }
    &__images {
        position: relative;
        height: 495px;
        width: 495px;
        border: 18px solid transparent;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: borderAnimation 2s 3s linear forwards;
    }
    &__imgA {
        opacity: 0;
        position: relative;
        width: 370px;
        height: 360px;
        animation: logoAanimation 2s 1s linear forwards;
    }
}

@media (max-width: 600px) {
    .intro {
        width: 295px;
        &__images {
            height: 275px;
            width: 275px;
            border: 10px solid transparent;
        }
        &__imgA {
            width: 205px;
            height: 200px;
        }
    }
}
